
#directory {
    --directorySizeOpen: 14%;
    --directorySizeClose: 0%;

    position: fixed;
    left: 0;
    top: 0;

    width: var(--directorySizeClose);
    height: 100%;

    background-color: var(--navBackground);
    box-shadow: 4px -4px rgba(0, 0, 0, 0.25);

    transition: 200ms ease-in-out;

    z-index: 15;
}

#directory-button-hitbox{
    --directoryHitboxSize: 17%;

    position: fixed;
    left: 0%;
    top: 0;

    width: var(--directoryHitboxSize);
    height: 100%;

    opacity: 1;


}

#directory-button{
    position: fixed;
    left: 2.5em;
    top: 0;

    display: flex;
    align-items: center;

    width: 0%;
    height: 10%;

    background-color: var(--navBackground);
    box-shadow: 4px -4px rgba(0, 0, 0, 0.25);

    border-radius: 0 10px 10px 0;

    transition: width 250ms, left 200ms ease-in-out;
    align-items: center;
    justify-content: center;

}

#directory-button img{
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;

    align-self: center;

    filter: var(--iconFilter);
}

@media screen and (max-width:1063px) {
    #directory {
        --directorySizeOpen: 24%;
    }

    #directory-button-hitbox {
        --directoryHitboxSize: 27%;
    }
}