#collab-modal {
    position: fixed;
    bottom: 2.5rem;
    right: 0;
    
    height: 50vh;

    background-color: var(--navBackground);
    color: var(--textColor);
    
    font-size: 1.2rem;
    padding: 1rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;

    transition: top 0.3s ease-in-out;

    z-index: 1024;
}


#collab-modal button {
    display: block;
    width: 75%;
    font-size: 1.5rem;
    font-weight: 400;

    border: none;
    border-radius: .25rem;

    background-color: var(--accentColor);
    color: var(--textColor);

    padding: .8rem;
    margin: .8rem auto;

    cursor: pointer;
}

#collab-modal button:hover {
    background-color: var(--secondaryAccentColor);
}

#collab-modal input {
    border: none;
    outline: none;
    background-color: #00000000;
    border: .5px solid white;
    border-radius: .25rem;
    color: white;

    font-size: 1.25rem;

    height: 2rem;

    right: 0rem; 
    z-index: 256;
}

#collab-modal {
    text-align: center;
}