
#directory-button-hitbox{
    --directoryHitboxSize: 25rem;
    --directoryHitboxSizeClose:25rem;

    position: fixed;
    left: 0%;
    top: 0;

    width: var(--directoryHitboxSizeClose);
    height: 100%;

    opacity: 1;
    z-index: 15;
}


#directory {
    --directorySizeOpen: 20rem;
    --directorySizeClose: 0rem;

    position: fixed;
    left: 2.5rem;
    top: 0;
    box-sizing: border-box;

    width: var(--directorySizeClose);
    height: 100%;

    background-color: var(--navBackground);
    box-shadow: 4px -4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    transition: 200ms ease-in-out;

    z-index: 15;
}


#directory-button{
    --directorySizeOpen: 22.5rem;

    cursor: pointer;
    position: fixed;
    left: 2.5rem;
    top: 0;

    display: flex;
    align-items: center;

    width: 0%;
    height: 10%;

    background-color: var(--navBackground);
    box-shadow: 4px -4px rgba(0, 0, 0, 0.25);

    border-radius: 0 10px 10px 0;

    transition: width 250ms, left 200ms ease-in-out;
    align-items: center;
    justify-content: center;

    z-index: 15;

}

#directory-button img{
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;

    align-self: center;

    filter: var(--iconFilter);
}

#directory-container{
    padding-right: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    z-index: 15;
}

#directory-container p{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

#directory-container ul{
    padding-left: 1rem;
}


.directory-folder {
    cursor: pointer;

    display: list-item;
    width: auto;
    list-style-position: inside;
    list-style: none;

    padding-left: 0.5rem;

    font-size: 1.2rem;

    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;

    box-sizing: border-box;
}

.directory-files {
    cursor: pointer;

    list-style-position: inside;
    list-style-type: circle;

    padding-left: 0.5rem;

    font-size: 1.2rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.directory-files:hover, #directory summary:hover{
    background-color: var(--menuHighlight);
}




#directory-actions {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: left;
    align-items: center;
}

#directory-actions li {
    width: 1.75em;
    height: 1.75em;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms ease-in-out;
    cursor: pointer;
    padding: .25rem;
}

#directory-actions li:hover {
    background-color: var(--menuHighlight);
    border-radius: .25rem;
}

.selected-folder > details > summary {
    background-color: var(--menuHighlight);
}



#directory-options-menu {
    display: none;
    position: absolute;
    
    width: 12%;

    background-color: var(--secondaryColor);
    color: var(--menuTextColor);

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border-radius: .3rem;


    padding: 1rem;
    z-index: 1000;
}


#directory-options-menu ul{
    list-style: none;
    font-size: 1.2rem;
    display: block;
    padding: 0;
    margin: 0;
}


#directory-options-menu ul li {
    margin:  0;
    padding: .4rem .4rem;
    display: flex;
    border-radius: .5rem;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
}

#directory-options-menu ul li img{
    width: 1.5rem;
    margin-right: 1rem;
    display: flex;
    align-self: center;
    justify-self: center;
}

#directory-options-menu ul li:hover {
    background-color: var(--menuHighlight);
}


.directory-folder.drag-over {
    border: 2px dashed #fff; /* Highlight folder when dragging over */
}

@media screen and (max-width:1000px) {
    #directory-button-hitbox {
        --directoryHitboxSize: 25rem;
        --directoryHitboxSizeClose:5rem;
    }
}